@model IEnumerable<Library.Models.Genre>

@{
    ViewBag.Title = "Жанры";
}

<h1 style="padding-top: 30px; margin-bottom: -20px; text-align: center; font-family:'Ekaterina Velikaya Two'; font-size: 60px; font-weight:600;">Жанры</h1>

@{
    if (User.IsInRole("admin"))
    {
        <form action="\Genre\Create" style="float: right; padding-bottom: 4px; font-size: 15px;">
            <input type="submit" value="Добавить жанр" class="btn btn-default" />
        </form>
    } else
    {
        <br />
    }
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.Label("Наименование")
            </th>
            <th>
                @Html.Label("Описание")
            </th>
            @{
                if (User.IsInRole("admin"))
                {
                    <th></th>
                }
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                @{ 
                    if (User.IsInRole("admin"))
                    {
                        <td>
                            @Html.ActionLink("Редактировать", "Edit", new { id = item.GenreId }) |
                            @Html.ActionLink("Удалить", "Delete", new { id = item.GenreId })
                        </td>
                    }
                }
            </tr>
        }
    </tbody>
</table>