@model Library.Models.RegisterModel

@{
    ViewBag.Title = "Изменение пароля";
}

<center>
    <h1>Изменение пароля</h1>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal" style="font-size: 15px;">
            <hr style="border: 0.5px solid #828282;" />
            @Html.ValidationSummary(true)            

            @Html.Label("Введите новый пароль")
            <div class="form-group">
                <div class="">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "textbox", style = "width: 300px;" } })
                    @Html.ValidationMessageFor(model => model.Password)
                </div>
            </div>
        
            @Html.Label("Подтверждения пароля")
            <div class="form-group">
                <div class="">
                    @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "textbox", style = "width: 300px;" } })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword)
                </div>
            </div>

            <div class="form-group">
                <div class="">
                    <input type="submit" value="Изменить" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <form action="\Account\Personal">
        <input type="submit" value="Назад" class="btn btn-default" style="width: 95px; margin-top: -5px;" />
    </form>
    <br>
</center>